OPENAI_API_KEY=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
OPENAI_BASE_URL=https://openrouter.ai/api/v1
GMAIL_SENDER=ashish171200@gmail.com
CANDIDATE_NAME=Ashish Srivastava
CANDIDATE_EMAIL=ashish171200@gmail.com
LLM_MODEL=meta-llama/llama-3.2-3b-instruct:free
SCORER_MODEL=meta-llama/llama-3.2-3b-instruct:free
GENERATION_DELAY=10